/* Basic styling for the e-commerce website */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Make the list items display horizontally */
}

nav ul li {
    margin-right: 20px;
}

.logo img {
    max-width: 150px;
}

.featured-products {
    text-align: center;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    width: 300px;
    background-color: #fff;
}

.price {
    font-weight: bold;
    color: #e44d26; /* Orange color for price */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
